@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
header {
    width: 100%;
    padding: 10px 12%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    z-index: 100;
    background-color: transparent;
    transition: transform 2s ease, top 2s ease, background-color 2s ease;

}

.header::before {
    content: '';
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}

.blurry {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.header:hover::after{
    left: 100%;
}
.navLinks:hover {
    color: #FFC72C;
    transition: 0.5s ease-out;
}
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    display: none;
    opacity: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1100px) {
    header .nav-btn {
        display: block;
        opacity: 1;
    }
  
    header nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgba(164, 159, 194, 0.5);
        backdrop-filter: blur(4px);
        gap: 1.5rem;
        transition: 1s ease-out;
        transform: translateY(-100vh);
        transform-origin: 0 0;
        z-index: -2;
       }
       
       .header::before {
        background: rgba(164, 159, 194, 0.5);
        backdrop-filter: blur(4px);
       }
     
       .navbar a {
           font-size: 26px;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: row;
           opacity: 1;
          }
          .navLinks {
                border: 0px;
           
          }
     
          header .responsive_nav {
           transform: none;
          }
}
.logo {
    height: 70px;
    margin-right: 6px;
}
@media (min-width: 1100px) {
    nav ul li {
        display: inline-block;
    }
}
@media (max-width: 1100px) {
    header {
      
      max-height: 12%; 
      }
  }
nav ul li {
    list-style: none;
    margin: 0px 10px;
    font-size: 20px;
}

.logoText {
   text-align: center;
}
.navLinks, .logoText {
    color: var(--theme-light);
    text-shadow: -1px -1px 0 #7B5A0B;
    font-weight: bold;
    font-family:  "Slackey", sans-serif;
    display: flex;

}
.navLinks {
    border-radius: 20px;
    padding: 4px 8px;
    border: 1px solid #cfbdba;
    border-radius: 10px;
}

.logoWrapper {
    display: flex; 
    align-items: center; 
}

.navLinks.active {
    font-size: 22px;
    color: var(--theme-light);
    transition: 0.5s ease-out;
}

.social-link {
    --width: 48px;
    width: var(--width);
    height: var(--width);
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    box-shadow: 0 4px 4px #00000040;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
}
.navSocials {
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
}

.buyWagmi{
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;  
}
.navInfo {
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
    display: flex;  
}